* {
  box-sizing: border-box;
}

.grid {
  display: flex;
  width: 330px;
  border-collapse: collapse;
  text-align: center;
  line-height: 2;
}

.output-window {
  flex: 3;
  background: #64B255;
  margin: 1px 1px 0 0;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1.5rem;
  text-align: right;
  line-height: 3;
  color: white;
}

.output-results {
  line-height: 3.3;
  padding-right: 35px;
}

.grid-cell {
  flex: 1;
  height: 80px;
  background: #64B255;
  color: white;
  margin: 1px 1px 0 0;
}

.operator {
  color: #55a044;
  background: #82C276;
}

button {
  padding: 0;
  font-size: 1.5rem;
  outline: none;
  font-family: Tahoma, Geneva, sans-serif;
  border: none;
}
